#redis
REDIS_HOST='your-redis-host'
REDIS_PORT='your-redis-port'

#s3
ENTRYPOINT_URL='your-s3-entrypoint'
AWS_ACCESS_KEY_ID='your-s3-access-key'
AWS_SECRET_ACCESS_KEY='your-s3-secret-key'
BUCKET_NAME="your-bucket-name"

MAP_FILE_PATH='your-tif-file-path'

LOCK_TIME="time-to-relase-lock"
DAYS_TO_DELETE_LOG="days-ago-to-delete-logger-files"
